<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.report.mapper.MerchantinfoMapper">
    <resultMap id="BaseResultMap" type="com.data.report.entity.MerchantInfo">
        <result column="mername" jdbcType="VARCHAR" property="mername"/>
        <result column="bizno" jdbcType="VARCHAR" property="bizno"/>
    </resultMap>
    <sql id="BaseColumnList">
        mername, bizno
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from merchant_report;
    </select>

</mapper>
