<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>鉴权报表</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="${ctxPath}/tools/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="${ctxPath}/tools/bootstrap-timepicker.min.css">
    <link rel="stylesheet" href="${ctxPath}/tools/daterangepicker.css">
    <link rel="stylesheet" href="${ctxPath}/tools/select2.min.css">
    <link rel="stylesheet" href="${ctxPath}/tools/font-awesome.min.css">
    <link rel="stylesheet" href="${ctxPath}/tools/ionicons.min.css">
    <link rel="stylesheet" href="${ctxPath}/tools/AdminLTE.min.css">
    <link rel="stylesheet" href="${ctxPath}/tools/_all-skins.min.css">
    <script type="text/javascript">

    </script>
</head>
<body class="skin-blue sidebar-mini" style="height: auto; min-height: 100%;">
<div class="wrapper" style="height: auto; min-height: 100%;">
    <div class="wrapper" style="min-height: 990px;">
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">报表生成</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i></button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-remove"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>选择商户</label>
                                        <select id="merSelect" class="form-control select2 select2-hidden-accessible"
                                                style="width: 100%;" tabindex="-1" aria-hidden="true">
                                            <%
                                            for(mer in merList){
                                                if(mer.bizno == "b2521d7abd89b719342990538cd157f58fe25c03") {
                                            %>
                                                <option selected="selected" value="${mer.bizno}">${mer.mername}</option>
                                            <%} else {%>
                                                <option  value="${mer.bizno}">${mer.mername}</option>
                                            <%}%>
                                            <%}%>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>选择起止日期</label>

                                        <div class="input-group">
                                            <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                                                <span>
                                                  <i class="fa fa-calendar"></i> 起止日期
                                                </span>
                                                <i class="fa fa-caret-down"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button type="button" id="subReport" class="btn btn-block btn-success">生成报表</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </section>
    </div>
</div>
<script type="text/javascript" src="${ctxPath}/tools/moment.min.js"></script>
<script type="text/javascript" src="${ctxPath}/tools/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="${ctxPath}/tools/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="${ctxPath}/tools/daterangepicker.js"></script>
<script type="text/javascript" src="${ctxPath}/tools/select2.full.min.js"></script>
<script type="text/javascript" src="${ctxPath}/tools/adminlte.min.js"></script>
<script type="text/javascript" src="${ctxPath}/tools/jquery.slimscroll.min.js"></script>

<script>
    $(function () {
        $('.select2').select2()

        var locale = {
            "format": 'YYYY-MM-DD',
            "separator": " - ",//
            "applyLabel": "确定",
            "cancelLabel": "取消",
            "fromLabel": "起始时间",
            "toLabel": "结束时间'",
            "customRangeLabel": "自定义",
            "weekLabel": "W",
            "daysOfWeek": ["日", "一", "二", "三", "四", "五", "六"],
            "monthNames": ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            "firstDay": 1
        };
        var timeStart;
        var timeEnd;
        $('#daterange-btn').daterangepicker({
                "locale": locale,
                "ranges": {
                    '上周': [moment().subtract(1, "week").startOf("week"), moment().subtract(1, "week").endOf("week")],
                    '上个月': [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")],
                },
                "opens": "right",
                //"timePicker": true,
                "timePickerIncrement": 60,
            },
            function (start, end) {
                $('#daterange-btn span').html(start.format('YYYY/MM/DD') + ' - ' + end.format('YYYY/MM/DD'))
                timeStart = start.format('YYYYMMDD');
                timeEnd = end.format('YYYYMMDD');
            }
        )

        $('#subReport').click(function(){
            var bizno=$("#merSelect").val();
            $(location).attr('href', '/authReport/report?bizno='+bizno+'&timeStart='+timeStart+'&timeEnd='+timeEnd);
        })
    })
</script>
</body>
</html>